html {
    background-color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

@font-face {
    font-family: poppins-italic;
    src: url(./fonts/poppins/Poppins-Italic.ttf);
}

header {
    display: inline-flex;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.625rem;
    margin: 0;
    padding: 0;
    width: 100vh;

}
header a{
    font-family: poppins-italic, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.625rem;
    text-decoration: none;
    color: #000000;
}

#home {
    align-self: flex-start;
}

#contact {
    align-self: flex-end;
}
h1 {
    color: #1a53ff;
    font-size: 3.125rem;
}

p {
    font-size: 1rem;
}

img {
    border-radius: 50%;
    transition: transform .7s ease-in-out;
  }
img:hover {
    transform: rotate(360deg);
  }