html {
    background-color: #ffffffc6;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-image: url(./images/css-pattern-by-magicpattern.png);
    background-size: cover;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: poppins-italic;
    src: url(./fonts/poppins/Poppins-Italic.ttf);
}

header {
    display: flex;
    font-size: 1.5rem;
    padding: 0.625rem;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}
header a{
    font-family: poppins-italic, sans-serif;
    font-size: 1.5rem;
    padding: 0.625rem;
    text-decoration: none;
    color: #000000;
}
#home {
    align-self: start;
}
#contact {
    align-self: end;
    align-content: end;
}
.main{
    display: flex;
    justify-content: space-evenly;
}

.intro {
    display: grid;
    justify-content: center;
    text-align: center;
}
h1 {
    color: #000000;
    font-size: 3.125rem;
    align-self: self-end;
}

p {
    font-size: 1rem;
}
.technologies h2{
    text-align: center;
}
.familiarTech {
    display: flex;  
    justify-content: center;
}
.techColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.imageContainer{   
    display: grid;
    max-width: 150px;
    margin: 5px;
}
img {
    border-radius: 50%;
    transition: transform .7s ease-in-out;
    max-width: 150px;
    border: solid rgb(0, 0, 0) 2px;
}
img:hover {
    transform: rotate(360deg);
}
.portfolio {
    text-align: center;
    justify-content: center;
}
.jokes{
    display: flex;
    justify-content: space-evenly;
}
.firstName{
    border-radius: 5px;
}
.submit{
    border-radius: 10px;
    background-color: #41eef4;
    height: 2.8125rem;
    width: 11.25rem;
    font-size: 1.5rem;
}
.contactPage{
    text-align: center;
    justify-content: center;
    min-height: 100%;
    margin-bottom: -40px;
}
.contactContainer{
    display: flex;
    justify-content: space-evenly;
}
footer{
    text-align: center;
    font-size: 0.75rem;
    margin-top: auto;
}
@media screen and (max-width: 431px) {

    .main {
        display: grid;
    }
    .jokes {
        display: grid;
    }
    
}